body{
    background-color: #1d658c;
    /* background-image: url("../asset S2/background.png"); */
    color: #fff;
}
h1{
    font-weight: 100;
    color:#FFF2E5; 
}
.containerPicked{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 1vw;
}
.containerPicked .playerA img{
    width: 6vw;
    height: 5vw;
    /* border-bottom: 3px solid #f6f4f0;
    border-radius: 10px; */
    margin: 5px;
    padding: 5px;
    flex-direction: row;
    justify-content: center;
    float: left;
    background-image: url("../asset S2/draft/kotak_pick.png");
    background-size: 6vw 5vw;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: linear-gradient(to top, rgba(255,255,255, 0.3), transparent 50%); */
}
.containerPicked .playerB img{
    width: 6vw;
    height: 5vw;
    /* border-bottom: 3px solid #f6f4f0; */
    /* border-radius: 10px; */
    margin: 5px;
    padding: 5px;
    flex-direction: row;
    justify-content: center;
    float: left;
    background-image: url("../asset S2/draft/kotak_pick.png");
    background-size: 6vw 5vw;
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: linear-gradient(to top, rgba(255,255,255, 0.3), transparent 50%); */
}
/* .containerPicked .halfRight img{
    border-right: 3px solid;
    border-image: linear-gradient(to top, #f6f4f0 50%, transparent 50%) 1;
}
.containerPicked .halfLeft img{
    border-left: 3px solid;
} */
.containerPicked .timer img{
    border: 0px;
    width: 2vw;
    height: 2vw;
}
.containerPicked img:hover{
    cursor: pointer;
}
.teams p{
    height: 3vw;
    width: 5vw;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 3vw;
    font-size: 25px;
    /* border-color: #8a7442; */
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #8a7442;
    color: #FFF2E5;
}

.containerChoose{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 1vw
}
.pickedChar{
    flex-direction: column;
    width: 6vw;
    height: auto; 
    background-color: #f6f4f0;  
    border: 5px solid #e3d9cf; 
}
.pickedChar img{
    padding-top: 15px;
    width: 74px;
    height: 98px;
    padding-left: 22px;
    border-radius: 10px;
}
.pickedChar img:hover{
    cursor: pointer;
}
.chooseChar{
    width: 37vw;
    height: auto;
    background-color: #f6f4f0;
    border: 5px solid #e3d9cf;
    border-radius: 10px;
    padding-top: 3px;
}
.chooseChar img{
    width: 53px;
    height: 70px;
    border-radius: 10px;
    margin: 1px;
    padding-top: 3px;
    padding-left: 15px;
}
.chooseChar img:hover{
    cursor: pointer;
}
h1{
    display: flex;
    justify-content: center;
}
.timer{
    display: flex;
    flex-wrap: wrap;
    font-size: 2vw;
    flex-direction: row;
    justify-content: center;
    gap: 1vw;
    width: 15vw;
    height: auto;
    color: #FFF2E5;
}
.timer .flipTimer{
    display: flex;
    gap: 10px;
}
.timer #arrowLeft{
    width: 3vw;
    height: 4vw;
}
.timer #arrowRight{
    width: 3vw;
    height: 4vw;
}
.timer #logoMid{
    width: 4vw;
    height: auto;
}
.dropDown{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap: 1vw;
}
.dropDown p{
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #8a7442;
    color: #FFF2E5;
}
.autoComplete{
    display: flex;
    justify-content: center;
    width: 10vw;
    background-color: #f6f4f0;
    border: 5px solid #e3d9cf;
    padding-top: 10px;
}
.autoComplete .buttonStart{
    margin-bottom: 10px;
    color: #8a7442;
    border-color: #8a7442;
    width: 4vw;
    border-radius: 6px;
    font-weight: 600;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vw;
}
.footer .banA{
    margin-left: 5vw;
    color: #8a7442;
    border-color: #8a7442;
    border-radius: 6px;
    font-weight: 600;
    width: 4vw;
}
.footer .banB{
    margin-right: 5vw;
    color: #8a7442;
    border-color: #8a7442;
    border-radius: 6px;
    font-weight: 600;
    width: 4vw;
}
.footer .reset{
    color: #8a7442;
    border-color: #8a7442;
    border-radius: 6px;
    font-weight: 600;
    width: 4vw;
}
.footer .clear{
    color: #8a7442;
    border-color: #8a7442;
    border-radius: 6px;
    font-weight: 600;
    width: 4vw;
}